<div class="row d-flex justify-content-center px-4" style="height: 65vh;">
  <div class="col-12 color-secondary my-5 rounded-lg  p-4  animated bounceInUp">
    <h4 class="mb-3">Citas</h4>
    <hr class="mb-4">
    <div class="row d-flex justify-content-around ">
      <div class="card col-3 ml-1  mb-4 shadow-sm">
        <div class="card-header bg-white">
          <h4 class="my-0 font-weight-normal">Lun</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-1 mb-2">
            <li><label class="font-weight-bolder">Fecha Habilidata</label> 01/04/20</li>
            <li><label class="font-weight-bolder">Citas restantes</label> 8</li>
          </ul>
          <h5>Observaciones</h5>
          <p class="text-justify">
            El horario de atencion sera de <b>8 am</b> a <b>12 pm</b> y de <b>2 pm</b> a <b>6 pm</b>
          </p>
          <button type="button" class="btn btn-block btn-primary">Reservar</button>
        </div>
      </div>
      <div class="card col-3 mb-4 shadow-sm">
        <div class="card-header bg-white">
          <h4 class="my-0 font-weight-normal">Lun</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-1 mb-2">
            <li><label class="font-weight-bolder">Fecha Habilidata</label> 01/04/20</li>
            <li><label class="font-weight-bolder">Citas restantes</label> 8</li>
          </ul>
          <h5>Observaciones</h5>
          <p class="text-justify">
            El horario de atencion sera de <b>8 am</b> a <b>12 pm</b> y de <b>2 pm</b> a <b>6 pm</b>
          </p>
          <button type="button" class="btn btn-block btn-primary">Reservar</button>
        </div>
      </div>
      <div class="card col-3 mb-4 shadow-sm">
        <div class="card-header bg-white">
          <h4 class="my-0 font-weight-normal">Lun</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-1 mb-2">
            <li><label class="font-weight-bolder">Fecha Habilidata</label> 01/04/20</li>
            <li><label class="font-weight-bolder">Citas restantes</label> 8</li>
          </ul>
          <h5>Observaciones</h5>
          <p class="text-justify">
            El horario de atencion sera de <b>8 am</b> a <b>12 pm</b> y de <b>2 pm</b> a <b>6 pm</b>
          </p>
          <button type="button" class="btn btn-block btn-primary">Reservar</button>
        </div>
      </div>
      <div class="card col-3 mb-4 shadow-sm">
        <div class="card-header bg-white">
          <h4 class="my-0 font-weight-normal">Lun</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-1 mb-2">
            <li><label class="font-weight-bolder">Fecha Habilidata</label> 01/04/20</li>
            <li><label class="font-weight-bolder">Citas restantes</label> 8</li>
          </ul>
          <h5>Observaciones</h5>
          <p class="text-justify">
            El horario de atencion sera de <b>8 am</b> a <b>12 pm</b> y de <b>2 pm</b> a <b>6 pm</b>
          </p>
          <button type="button" class="btn btn-block btn-primary">Reservar</button>
        </div>
      </div>
      <div class="card col-3 mb-4 shadow-sm">
        <div class="card-header bg-white">
          <h4 class="my-0 font-weight-normal">Lun</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-1 mb-2">
            <li><label class="font-weight-bolder">Fecha Habilidata</label> 01/04/20</li>
            <li><label class="font-weight-bolder">Citas restantes</label> 8</li>
          </ul>
          <h5>Observaciones</h5>
          <p class="text-justify">
            El horario de atencion sera de <b>8 am</b> a <b>12 pm</b> y de <b>2 pm</b> a <b>6 pm</b>
          </p>
          <button type="button" class="btn btn-block btn-primary">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>
