<div class="col-12 color-secondary rounded-lg animated bounceInUp mt-2 mb-5 p-5">
  <div class="card">
    <h5 class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#datesEnables" role="tab"
            aria-controls="datesEnables" aria-selected="true">Fechas Disponibles</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#addDates" role="tab" aria-controls="addDates"
            aria-selected="false">Agregar Fechas</a>
        </li>
      </ul>
    </h5>
    <div class="card-body tab-content" id="myTabContent">
            <!-- CONTAINER FECHAS HABILIDATAS -->
      <div class="tab-pane fade show active" id="datesEnables" role="tabpanel" aria-labelledby="home-tab">
        <div class="container p-3">
          <h6>Fechas Habilitadas</h6>
          <hr>
          <div class="accordion mx-auto col-8" id="accordionExample" >
            <div class="card" *ngFor="let date of dates">
              <div class="card-header d-flex justify-content-around" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    [attr.data-target]="'#area'+ date.id" aria-expanded="false" [attr.aria-controls]="'area'+date.id">
                    {{date.date}}
                  </button>
                </h2>
                <h6 class="my-auto">
                  Estatus: <span class="text-success">{{date.status}}</span>
                </h6>
                <h2 class="mb-0">
                  <button class="btn btn-primary" type="button" (click)="disableDate(date.id)">
                    deshabilitar
                  </button>
                </h2>
              </div>
              <div id="area{{date.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="container" *ngFor="let appointment of date.Appointments">
                    
                  </div>
                </div>
              </div>
            </div><!-- Acordion-->
          </div>
        </div>
      </div><!-- /CONTAINER FECHAS HABILIDATAS -->


          <!-- CONTAINER AGREGAR FECHAS -->
      <div class="tab-pane fade" id="addDates" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container px-5  mb-4">
          <form [formGroup]='dateForm'>
            <h6>Habilitar Fechas</h6>
            <hr>
            <div class="col-10 mx-auto mb-3">
              <label for="">Fecha</label>
              <input formControlName="date" type="date" class="form-control" id=""
                [class.is-invalid]="dateForm.get('date').touched && dateForm.get('date').invalid">
              <div *ngIf="dateForm.get('date').touched && dateForm.get('date').invalid">
                <small class="text-danger ml-2" *ngIf="dateForm.get('date').errors.required">
                  Seleccione una fecha
                </small>
              </div>
            </div>
            <div class="col-10 mx-auto text-center mb-3">
              <button class="btn btn-primary" style="width: 15em;" (click)="registerDate()"> Habilitar fecha</button>
            </div>
            <div class="col-10 mt-2 mx-auto p-4 animated bounceInRight" *ngIf="message">
              <div class="alert alert-success text-center" role="alert">
                {{message}}
              </div>
            </div>
          </form>
        </div><!-- FORMULARIO-->
      </div>    
      </div><!-- /CONTAINER AGREGAR FECHAS-->

    </div>
  </div>




  