<div class="row d-flex px-3 justify-content-center">
  <div class="col-12 color-secondary mt-2 rounded-lg  p-4  animated bounceInUp">
    <h4 class="my-3">Perfil de Usuario</h4>
    <hr class="mb-4">
    <div class="col-12 d-flex justify-content-center my-3 mx-auto">
      <div class="card col-7 border rounded-lg bg-white mb-4 shadow-sm h-md-250 position-relative">
        <div class="card-body col-auto p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary" *ngIf="userLs.role == 'admin'">{{userBd.role}}</strong>
          <h2 class="mx-auto mb-4">{{userBd.name}} {{userBd.lastName}}</h2>
          <div class="row">
            
            <div class="col-12 text-center mb-3">
              <label class="font-weight-bold">DNI: </label>

              {{userBd.dni}}
            </div>
            <div class="col-6 text-center mb-3">
              <label class="font-weight-bolder">
                Telefono:
                <button class="btn p-0 ml-0 mb-2" data-toggle="modal" data-target="#phoneModal"
                  (click)="mostrarModal('phone')">
                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
              </label>
              <br>
              {{userBd.phone}}
            </div>
            <div class="col-6 text-centermb-3">
              <label class="font-weight-bold mb-0 ">Email:
                <button class="btn p-0 ml-0 mb-2" data-toggle="modal" data-target="#exampleModal"
                  (click)="mostrarModal('email')">
                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
              </label>
              <br>
              {{userBd.email}}
            </div>
            <div class="col-12 mt-3 d-flex justify-content-around">
              <button class="btn btn-primary" (click)="mostrarModal('password')">
                cambiar contraseña
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="col-12 fixed-top color-secondary d-none " [class.d-block]="viewModal" style="height: 100vh;">
      <div class="col-10 mx-auto">
        <div class="card mt-5 animated {{animationModal}}">
          <div class="card-header d-flex justify-content-between">
            <h5 class="modal-title">Actualizar datos</h5>
            <button type="button" class="close" (click)="mostrarModal()">
              <span>&times;</span>
            </button>
          </div>

          <div class="card-body">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-8 d-flex justify-content-center border rounded-lg">
                  <!-- FORMULARIO TELEFONO -->
                  <form class="mb-4" [formGroup]='formPhone' *ngIf="viewPhone">
                    <div class="container py-4">
                      <div class="row">
                        <div class="col-12 mt-3">
                          <label for="phone">Telefono</label>
                          <input formControlName="phone" type="text" class="form-control mb-4" id="phone"
                            placeholder="Ej: 666-77799912"
                            [class.is-invalid]="formPhone.get('phone').touched && formPhone.get('phone').invalid">

                          <div *ngIf="formPhone.get('phone').touched && formPhone.get('phone').invalid">
                            <small class="text-danger ml-2" *ngIf="formPhone.get('phone').errors.required">
                              Debe ingresar un numero de telefono
                            </small>
                            <small class="text-danger ml-2" *ngIf="formPhone.get('phone').errors.minlength">
                              el numero debe tener minimo 10 digitos
                            </small>
                            <small class="text-danger ml-2" *ngIf="formPhone.get('phone').errors.maxlength">
                              el numero debe tener maximo 10 digitos
                            </small>
                           
                          </div>
                          <div class="col-10 my-5 mx-auto rounded-lg p-4 animated bounceInRight" *ngIf="message">
                            <div class="alert alert-success text-center" role="alert">
                              {{message}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="row d-flex justify-content-around">
                        <button class="btn btn-primary" style="width: 10em;" type="submit" (click)="actualizarDatos('phone')" >Guardar</button>
                        <button type="button" class="btn btn-secondary mx-2" style="width: 10em;"
                          (click)="mostrarModal()">Cancelar
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--/FORMULARIO TELEFONO-->

                  <!-- FORMULARIO EMAIL -->
                  <form class="mb-4" [formGroup]='formEmail' *ngIf="viewEmail">
                    <div class="container py-4">
                      <div class="row">
                        <div class="col-12 mt-3">
                          <label for="email">email</label>
                          <input formControlName="email" type="text" class="form-control mb-4" id="email" placeholder="ejemplo@correo.com"
                          [class.is-invalid]="formEmail.get('email').touched && formEmail.get('email').invalid">
                          <div *ngIf="formEmail.get('email').touched && formEmail.get('email').invalid">
                            <small class="text-danger ml-2" *ngIf="formEmail.get('email').errors.required">
                              Debe ingresar un correo
                            </small>
                            <small class="text-danger ml-2" *ngIf="formEmail.get('email').errors.email">
                              debe ingresar un correo valido
                            </small>
                          </div>
                          <div class="col-10 my-5 mx-auto rounded-lg p-4 animated bounceInRight" *ngIf="message">
                            <div class="alert alert-success text-center" role="alert">
                              {{message}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="my-4">
                    <div class="row d-flex justify-content-around">
                      <button class="btn btn-primary" style="width: 10em;" type="submit" (click)="actualizarDatos('email')">Guardar</button>
                      <button type="button" class="btn btn-secondary mx-2" style="width: 10em;"
                        (click)="mostrarModal()">Cancelar
                      </button>
                    </div>
                    </div>
                    
                  </form>
                  <!-- /FORMULARIO EMAIL -->

                  <!--FORMULARIO PASSWORD-->
                  <form class="mb-3" [formGroup]='formPassword' *ngIf="viewPassword">
                    <div class="container py-4">
                      <div class="row">
                        <div class="col-12 mt-3">
                          <label for="password">contraseña</label>
                          <input formControlName="password" type="password" class="form-control mb-2" id="password"
                            [class.is-invalid]="formPassword.get('password').touched && formPassword.get('password').invalid">
                            <div class="mb-2" *ngIf="formPassword.get('password').touched && formPassword.get('password').invalid">
                              <small class="text-danger mx-auto" *ngIf="formPassword.get('password').errors.required">
                                Debe ingresar una contraseña
                              </small>
                              <small class="text-danger ml-2" *ngIf="formPassword.get('password').errors.minlength">
                                el numero debe tener minimo 8 digitos
                              </small>
                            </div>
                            <label for="confirm">confirme la contraseña</label>
                          <input formControlName="confirm" type="password" class="form-control mb-4" id="confirm"
                            [class.is-invalid]="formPassword.get('confirm').touched && formPassword.hasError('notEquals')">
                            
                            <div *ngIf="formPassword.get('confirm').touched && formPassword.hasError('notEquals')">
                              <small class="text-danger mx-auto" *ngIf="formPassword.hasError('notEquals')">
                                Las Contraseñas no coinciden
                              </small>
                            </div>
                            <div class="col-10 my-5 mx-auto rounded-lg p-4 animated bounceInRight" *ngIf="message">
                              <div class="alert alert-success text-center" role="alert">
                                {{message}}
                              </div>
                            </div>
                        </div>
                      </div>
                      <hr class="my-4">
                    <div class="row d-flex justify-content-around">
                      <button class="btn btn-primary" style="width: 10em;" type="submit" (click)="actualizarDatos('password')">Guardar</button>
                      <button type="button" class="btn btn-secondary mx-2" style="width: 10em;"
                        (click)="mostrarModal()">Cancelar
                      </button>
                    </div>
                    </div>
                  </form>
                  <!--FORMULARIO PASSWORD-->
                </div>
              </div>
            </div>
          </div>
          <!--/CARD BODY-->
        </div>
      </div>
    </div>
  </div>
</div>
