<div class=" row d-flex justify-content-center">
  <div class="col-4 color-secondary my-5 rounded-lg p-4 animated bounceInRight">
    <h4 class="mb-3">Login</h4>
    <hr class="my-2">
    <form [formGroup]='logForm' class="form-signin p-2">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input formControlName="email" type="email" id="inputEmail" class="form-control  mb-2" placeholder="Email address"
        required="" autofocus="" [class.is-invalid]="logForm.get('email').touched && logForm.get('email').invalid">
      <div class="mb-2" *ngIf="logForm.get('email').touched && logForm.get('email').invalid">
        <small class="text-danger ml-2" *ngIf="logForm.get('email').errors.required">
          debe ingresar su email
        </small>
        <small class="text-danger ml-2" *ngIf="logForm.get('email').errors.email">
          debe ingresar un email valido
        </small>
      </div>
      <label for="inputPassword" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="inputPassword" class="form-control  mb-2"
        placeholder="Password" required="" [class.is-invalid]="logForm.get('password').touched && logForm.get('password').invalid">
        <div class="mb-2" *ngIf="logForm.get('password').touched && logForm.get('password').invalid">
          <small class="text-danger ml-2" *ngIf="logForm.get('password').errors.required">
            debe ingresar su contraseña
          </small>
        </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> recordarme
        </label>
      </div>
      <div class="ml-2 mb-4" *ngIf="message">
        <small *ngIf="!isSuccess" class="alert alert-danger text-center" role="alert">
          {{message}}
        </small>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="userLogin()">Ingresar</button>
      <div class="ml-2 mt-2" >
        <a routerLink="registro">¿no tienes una cuenta?</a>
      </div>
    </form>
  </div>
</div>
