<div class="col-12 color-secondary jumbotron rounded-lg jumbotron-fluid mt-2 animated bounceInRight">
  <div class="container px-5 mb-4">
    <h1 class="display-4 text-center font-weight-bold color-font-base">Reserve y gestione su cita a través del sistema...</h1>
    <p class="lead mt-3 mb-5 pl-3">Para reservar su cita solo debe registrarse en el portal, si ya tienes cuenta ingresa
      con tus datos.
    </p>
    <hr>
  </div>
  <div class="container pl-5">
      <h3 class="title-home-notice  font-weight-bolder">
        Ultimas Noticias
      </h3>
      <p class="lead text-justify my-3">
        Para reservar su cita solo debe registrarse en el portal, si ya tienes cuenta ingresa con tus datos.
      </p>
  </div>
</div>
